<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h3><b>Custom Text Including In Product Details View Frontend-</b></b></h3>
    <p>
    Stay light-years ahead of the competition with our Aim Analog Watch. The flexible, 
    rubberized strap is contoured to conform to the shape of your wrist for a comfortable 
    all-day fit. The face features three illuminated hands, a digital read-out of the 
    current time, and stopwatch functions.Stay light-years ahead of the competition with our 
    Aim Analog Watch. The flexible, rubberized strap is contoured to conform to the shape of your 
    wrist for a comfortable all-day fit. The face features three illuminated hands, a digital read-out of the 
    current time, and stopwatch functions.
    </p>
</body>
</html>
